<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!-- THIS IS FOR POPULATING DATA WITH JMETER -->
            <setting name="Analytics.ForwardedRequestHttpHeader" value="X-Forwarded-For" />
            <setting name="ContentSearch.Analytics.IndexAnonymousContacts" value="true" />
            <setting name="Hackathon.RedStaffy.Feature.XConnectBI.XConnectURI" value="https://sc91.xconnect" />
        </settings>
        <pipelines>
            <initialize>
                <processor patch:after="processor[@type='Sitecore.Services.Infrastructure.Sitecore.Pipelines.ServicesWebApiInitializer, Sitecore.Services.Infrastructure.Sitecore']"
                           type="Hackathon.RedStaffy.XConnectBI.Pipelines.RegisterHttpRoutes, Hackathon.RedStaffy.XConnectBI" />
            </initialize>
        </pipelines>
    </sitecore>
</configuration>